Source: aflex
Section: devel
Priority: extra
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 10), autotools-dev, gnat,
 gprbuild (>= 2015-2),
Standards-Version: 4.1.4
Homepage: https://github.com/Ada-France/aflex
#Vcs-Git: https://github.com/Ada-France/aflex.git
Vcs-Browser: https://github.com/Ada-France/aflex/tree/debian-gnat-8

Package: aflex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lexical analyzer generator for Ada.
 Aflex is a lexical analyzer generating tool similar to the Unix tool lex.
 From a scanner description file it generates an Ada program that scans
 the input described by the scanner description.


